$particles-animation-duration: 0.8s;
$icon-animation-duration: 0.48s;
$icon-color: hsl(1, 89%, 61%);
$icon-border-color: hsl(0, 0%, 10%);



$laptopMediaMaxWidth: 1260px;
$tabletMediaBp1Width: 960px;
$mobilMediaMinWidth: 480px;
